<h2><%= @restaurant.name %></h2>

<h3>Location</h3>
<p><%= @restaurant.address %></p>

<h3>Phone number</h3>
<p><%= @restaurant.phone_number %></p>

<div class="btn btn-primary">
  <p><%= link_to "Home", restaurants_path %></p>
</div>

<div class="btn btn-primary">
  <p><%= link_to "Edit", edit_restaurant_path %></p>
</div>

<div class="btn btn-danger">
<%= link_to "Delete",
  restaurant_path(@restaurant),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</div>
